*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenair_animation{
    width: 90vw;
    height: 90vh;
    border-radius: 15px;
    animation-name: mouad;
    animation-duration: 15s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenair_animation img{
    animation-name: mouad1;
    animation-duration: 5s;
 
}


@keyframes mouad{
    0%,30%{
    border-right: 3px solid #2196F3;  
         
    }
    30%,50%{
        border-top: 3px solid #2196F3;
    }
    50%,80%{
        border-left: 3px solid #2196F3;
    }
    80%,100%{
        border-bottom: 3px solid #2196F3;
    }
}
@keyframes mouad1{
    0%,30%{

    rotate: 60deg;  
         
    }
    30%,50%{
        rotate: 180deg;
    }
    50%,80%{
        rotate: 260deg;    }
    80%,100%{
        rotate:360deg;
    }
}