@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Aclonica&family=Adamina&family=Alkalami&family=Henny+Penny&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Langar&family=Patua+One&family=Rakkas&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Aclonica&family=Adamina&family=Alkalami&family=Henny+Penny&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Langar&family=Patua+One&family=Rakkas&family=Raleway:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body{
    overflow: hidden;
}
.body_salles{
    overflow: visible;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.back{
    background-color: #004E89;
    width: 1500px;
    height: 2500px;
    position: absolute;
    z-index: -1;
    rotate: -60.57deg;
    top: -400px;
    left: 1200px;
}
.container{
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px #000000;
    margin: 30px 60px ;
    height: 90vh;
    border-radius: 56px;
    padding: 20px 0;
}
.container_body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0 ;
    margin-right: 110px;
}
.c1{
    padding:10px 0 ;
}
.container header h1{
    color: #096EBA;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-align: center;
    font-size: 5vmin;
    letter-spacing: .2rem;
}
.container_body .logo .imgs{
    width: 50%;
    margin: auto;
}
.container_body .logo .imgs img{
    width: 80%;
    margin-left: 30px;
}
.container_body .logo h1{
    text-align: center;
    font-size: 5vmin;
    letter-spacing: .3rem;
}
.container_body .logo h1 span{
    color: #0466C8;
}
.container_body .contenair_inputs{
    width: 50%;
}
.container_body .contenair_inputs label{
    color: #0466C8;
    font-size: 13px;
    font-weight: bold;
}

.container_body .contenair_inputs .inputs input{
   width: 80%;
   height: 51px;
   border-radius: 10px;
   border: 1px solid #0466C8;
   margin: 11px 0 31px 0;
   padding: 0  15px;
}
.adds{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
}
.adds .check_Me {
    display: flex;
    justify-content:flex-start;
    gap: 15px;
    align-items: center;
}
.adds .check_Me p{
    font-size: 2vmin;
}
.adds a{
    text-decoration: none;
    font-size: 2.1vmin;
    color: #FF0000;
    transition: .5s ease-in-out;
}
.adds a:hover{
    color: #f52a2abd;
    border-bottom: 1px solid ;
  
}
.btn_part button{
    width: 80%;
   height: 51px;
   border-radius: 10px;
   border: 1px solid #0466C8;
   margin: 11px 0 31px 0;
   padding: 0  15px;
   background-color: #0466C8;
   color: whitesmoke;
   font-weight: bold;
   font-size: 2.2vmin;
   letter-spacing: .05rem;
}
.btn_log button{
    margin-bottom: 21px;
}
.btn_part div{
    display: flex;
    justify-content: space-between;
    margin: 0 230px 0 90px;
}
.btn_part div p{
    font-size: 2vmin;
}
.btn_part div a{
    text-decoration: none;
    font-size: 2.1vmin;
    color: #008000;
    transition: all .5s ease-in-out;
}
.btn_part div a:hover{
    color: #07d507;
    border-bottom: 1px solid #07d507;
    margin-bottom: 7px;
}
.logo_yc_img{
    width: 20%;
}
.logo_yc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin:0 50px ;
    position: absolute;
    bottom: 80px;

}
.logo_yc_img img{
    width: 80%;
}
.logo_yc p{
    font-weight: bold;
}
.logo_yc p span{
    color: #2196F3;
}
.contenair_inputs .inputs p{
    font-size: 2.1vmin;
    background-color: #24ce24;
    color: #022b02;
    width: 20%;
    position: absolute;
    right: 300px;
    border-radius: 5px;
    padding: 3px 35px;
    color: #FFFFFF;
    font-weight: bold;
    transition: 1s ease-in-out;
}
.body_salles{
    background-color: #004E89;
}
.logo_ws{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.logo_ws .logo_ws_img{
    width: 25%;
}
.logo_ws .logo_ws_img img{
    width: 100%;
}
.logo_ws p{
    font-weight: bold;
    font-size: 2vmin;
    color: whitesmoke;
}
.logo_ws p .s1{
    font-weight: bold;
    font-family: henny penny;
    font-size: 3.5vmin;
    color: whitesmoke;
}
.logo_ws p::first-letter{
    color: #0d83dd;
}
.logo_ws p .s2{
    color: #0d83dd;
}
.profile_section .profile_img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 4px 4px 11px #2196F3;
    margin-bottom: 20px;
    margin-left: 20px;
   
}
.profile_section .profile_img img{
    width: 100%;
    border-radius: 50%;
   
}
.profile_section{
    margin: 60px 50px 20px 90px;
}
.profile_infos .role{
    color: #d8d4d4;
    font-weight: bold;
   
    margin: 10px 30px;
}
.profile_infos i{
    font-size: 5vmin;
    margin-left: 40px ;
}
.left_side{
    width: 20%;
    position: relative;
}
.profile_name{
    margin: 5px 0;
    font-weight: bold;
    color: white;
    margin-left: 5px;

}
.menu {

width: 100%;
padding: 20px 10px;
}
.menu li{
    padding: 15px 20px;
    border-radius: 9px;
    border: 1px solid #2196F3;
    margin:20px 10px ;
    list-style: none;
    transition: 0.5s;
    cursor: pointer;
}
.menu li:hover{
    background-color: #073F69;
    box-shadow: 2px 2px 7px #2196F3;
}
.menu li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 3vmin;
    font-weight: 600;
    font-family: inria sans;
    letter-spacing: .05rem;
    
}
.menu .menu_section{
    color: #ffffffcb;
    display: flex;
    gap: 10px;
    margin: 7px 20px;
    font-weight: bold;
}
.global_container {
    width: 78%;
    background-color: #FFFFFF;
    border-radius: 11px;
    
}
.global_container .head_gcontainer .search_input{
    display: flex;
    align-items: center;
    position: relative;
    
}
.global_container .head_gcontainer .search_input input{
    width: 500px;
    height: 35px;
    border-radius: 8px;
    border: 1px solid #2196F3;
    padding: 0 90px;
}
.global_container .head_gcontainer .search_input i{
    position: absolute;
    left: 5px;
    font-size: 3vmin;
}
.global_container .head_gcontainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 300px;
    margin: 20px 30px;
}
.global_container .head_gcontainer .head_right_btns{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
}

.global_container .head_gcontainer .head_right_btns .container_cercle{
    border: 1px solid #2196F3;
    width: 40px;
    height: 20px;
    border-radius: 10px;
}
.global_container .head_gcontainer .head_right_btns .container_cercle .cercle{
    width: 16px;
    height: 16px;
    background-color: #073F69;
    border-radius: 10px;
    margin-top: 1px;
    margin-left: 2px;
}

.global_container .head_gcontainer .head_right_btns .head_right_btns_icon2{
    background-color: #073F69;
    padding: 8px 10px ;
    border-radius: 8px;
    font-size: 3vmin;
    font-weight: bold;
}
.global_container .head_gcontainer .head_right_btns .head_right_btns_icon1{
    border:1px solid #073F69;
    padding: 8px 10px ;
    border-radius: 8px;
    font-size: 3vmin;
    font-weight: bold;
}
.menu li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.section_general h2{
    font-family: inria sans;
    font-size: 4.5vmin;
    font-weight: bold;
    margin: 30px;
}

.section_general .section_infos{
    border: 1px solid #2196F3;
    width: 23%;
    padding: 20px;
    border-radius: 9px;
    transition: .5s;
    cursor: pointer;
    box-shadow: 2px 2px 7px #2196F3;
}
.section_general .section_infos:hover{
    background: #096dba61;
}
.section_general .section_infos h3{
    color: #096EBA;
    font-size: 2.8vmin;
}
.section_general .section_infos .section_details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 20px 0;
    
}
.section_general .section_infos .section_details i{
    font-size: 3.5vmin;
    border: 1px solid #2196F3;
    padding: 15px 20px;
    border-radius: 8px;

}
.section_general .section_infos .section_details .infos h4{
    font-size: 3.5vmin;
    font-weight: bold;
}
.section_general .secs_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sec_rooms{
    margin: 30px ;
}
.sec_rooms .part_left .part_rooms{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    padding: 5px 20px;
    border-radius: 9px;
}
.sec_rooms .part_left{
     width: 70%;
}

.sec_rooms .part_left .part_rooms h3{
    color: #096EBA;
    font-size: 3vmin;
}
.sec_rooms .part_left .part_rooms button{
    border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    background: #096EBA;
    color: whitesmoke;
    font-size: 2vmin;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;

}
.sec_rooms .part_left .sections_room{
     border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    padding: 5px 20px;
    border-radius: 9px;
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    

}
.sec_rooms .part_left .sections_room .room{
     border: 1px solid #2196F3;
    box-shadow: 2px 2px 5px #2196F3;
    width: 48%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin: 30px 0;

}
.sec_rooms .part_left .sections_room .room .room_title{
    background-color: #096EBA;
    color: whitesmoke;
    font-size: 2.7vmin;
    padding: 7px 0;
    text-align: center;
    font-weight: bold;
        border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.sec_rooms .part_left .sections_room .room .zone{
    min-height: 210px;
    position: relative;
}
.sec_rooms .part_left .sections_room .room .zone .add_member{
    position: absolute;
    right: 10px;
    font-size: 5vmin;
    color: #2911AF;
    border: none;
    cursor: pointer;
    background: transparent;
}
.sec_rooms .part_left .sections_room .room .zone .number_members{
    background-color: #44BFD5;
    width: 50px;
    padding: 5px;
    border-top-left-radius: 5px;
    color: white;
    font-size: 3vmin;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
}
.sec_rooms .part_right .part_users{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    padding: 5px;
    border-radius: 9px;
}
.sec_rooms .part_right .part_users h3{
    color: #096EBA;
    font-size: 3vmin;
    padding: 0 10px;
}
.sec_rooms .part_right .part_users button{
     border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    background: #096EBA;
    color: whitesmoke;
    font-size: 2vmin;
    padding: 12px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.sec_rooms .part_right{
    width: 29%;
}

.sec_rooms{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.sec_rooms .part_right .part_users_added{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #2196F3;
    box-shadow: 2px 2px 7px #2196F3;
    padding: 5px;
    border-radius: 9px;
    margin: 20px 0;
}
.sec_rooms .part_right .part_users_added .user_photo{
    width: 50px;
    border-radius: 50%;
}
.sec_rooms .part_right .part_users_added .user_photo img{
    width: 100%;
    border-radius: 50%;
}
.sec_rooms .part_right .part_users_added h3{
    font-size: 1.7vmin;
    color: #096EBA;
    font-weight: bold;
    margin: 0 5px;
}
.sec_rooms .part_right .part_users_added p{
    font-size: 1.5vmin;
    
    font-weight: bold;
}
.sec_rooms .part_right .part_users_added button{
    padding: 5px 6px ;
    border-radius: 5px;
    background: transparent;
    border: 2px solid #2196F3;
    margin: 0 5px ;
    font-weight: bold;
    transition: .5s;
}
.sec_rooms .part_right .part_users_added button:hover{
    background-color: #2196F3;
    color: whitesmoke;
    cursor: pointer;
}
.section_general .secs_section .si2{
    background-color: #096EBA;
    color: whitesmoke;
}
.section_general .secs_section .si2:hover{
    background: rgba(204, 203, 203, 0.329);
    color: black;
}

.section_general .secs_section .si2 h3{
    color: whitesmoke;
}
.section_general .secs_section .si2 .section_details i{
    border: 1px solid #000000;
    
}
#add_worker_btn:hover{
    background-color: rgb(10, 18, 138);
}
.dernier_liens{
    position: absolute;
    bottom: 10px;
    width: 80%;
    background-color: #073F69;
    box-shadow: 2px 2px 7px #2196F3;
}

@media screen and (max-width: 1023px) and (min-width: 768px){
    .back{
        
        top: -750px;
        left: 1500px;
        height: 4000px;

    }

    .container{
       padding-right: 0;
       gap: 50px;
    }
    .container header h1{
        font-size: 4vmin;
    }
    .adds{
        flex-direction: column;
    }
    .adds a{
        margin-top: 20px;
        margin-left: 30px;
    }
    .btn_part div{
        flex-direction: column;
        gap: 7px;
       margin: 0 30px;
    }

    .btn_part p{
        width: 100%;
         margin: 0;
    }
}
@media screen and (max-width: 767px){
        .back{
        display: none;
    }
    body{
        overflow-y: visible;
    }
    .container_body{
        flex-direction: column;
        margin-right: 0;
    }
    .container{
        height: auto;
    }
    .container_body .contenair_inputs{
    width: 100%;
}
    .container_body .contenair_inputs .inputs input{
        width: 100%;
    }
    .container_body .contenair_inputs {
       padding: 20px 40px;
       
    }
    .btn_part button{
     width: 100%;   
    }
    .btn_part div{
        margin: 0 30px;
    }
    .logo_yc{
        position: absolute;
        bottom: -110px;
    }
  
}